<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\ImageFactory"
                type="Ex6\CloudFlare\Block\Product\ImageFactory"/>
    <type name="Magento\Widget\Model\Template\Filter">
        <plugin name="cloudflare_wysiwyg_image_filter" type="Ex6\CloudFlare\Plugin\Template\FilterPlugin"/>
    </type>
    <preference for="Magento\Catalog\Model\View\Asset\Image"
                type="Ex6\CloudFlare\Model\View\Asset\Image"/>
    <preference for="Magento\Catalog\Model\Product\Image"
                type="Ex6\CloudFlare\Model\Product\Image"/>
    <preference for="Magento\Catalog\Block\Product\View\Gallery"
                type="Ex6\CloudFlare\Block\Product\View\Gallery"/>
</config>
